* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  position: relative;
  overflow: hidden;
}

.header {
  min-height: 75px;
  background: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &__left,
  &__right {
    display: flex;
    align-items: center;
  }
  &__left {
    gap: 41px;
  }

  &__right {
    gap: 33px;
  }
  &__right img {
    cursor: pointer;
  }
  &__checkbox {
        position: absolute;
        visibility: hidden;
        left: -9999999px;
  }

  &__checkbox:checked ~ .mobile-menu {
    right: 0; 
    
  }
  
}

.mobile-menu {
  position: absolute;
  top: 75px;
  right: -232;
  z-index: 1;
  transition: right 0.6s;
  width: 232;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;

  &__link-site {
    align-items: center;
    justify-content: space-around;
    background-color: #e8e8e8;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 24px;
    display: none;
  }

  &__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    
    &:hover {
      
    }
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
  }

  &__list {
    list-style-type: none;
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 12px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
  }
}













.promo {
  display: flex;
  background: #f1e4e6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  &__img {
    width: 50%;
  }

  &__info {
    border-left: 12px solid #f16d7f;
    padding-left: 16px;
    margin-top: 48%;
  }

  &__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
  }

  &__heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
  }
  &__content {
    padding-left: 64px;
  }
}

.fashion {
  color: #f16d7f;
}

.sale {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
  &__item {
    position: relative;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 22, 22, 0.7);
    z-index: 0;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item_big {
    grid-column: 1 / -1;
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
  }

  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #f16d7f;
  }
}

.product-box {
  padding-bottom: 96px;
  &__heading {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9f9f9f;
  }

  &__content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
  }
}

.product {
  position: relative;
  &:hover .product__img {
    filter: brightness(0.5);
  }

  &:hover .product__add {
    display: flex;
  }

  &__img {
    width: 100%;
  }
  &__content__girl {
    background-color: #f8f8f8;
  }

  &__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #ffffff;
  }

  &__add:hover {
    box-shadow: 0 0 5px #fff;
  }

  &__content {
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
  }

  &__heading {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
  }

  &__price {
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
  }
}

.advantages {
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  &__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__heading {
    font-size: 20px;
    line-height: 24px;
    color: #fbfbfb;
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fbfbfb;
  }
}

.head {
  min-height: 148px;
  background: #f8f3f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__heading {
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
  }
}

.breadcrumb {
  display: flex;
  &__box-link:last-child .breadcrumb__link {
    font-weight: 700;
    color: #f16d7f;
  }

  &__box-link:not(:last-child)::after {
    content: "/";
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    color: #636363;
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }

  &__link:hover {
    color: #f16d7f;
  }
}

.filter {
  width: 100%;
  padding: 13px 16px 16px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  &-box {
    position: relative;
    height: 40px;
    width: 360px;
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
  }

  &__link:hover {
    color: #f16d7f;
  }

  &-box__items {
    border: 1px solid #f16d7f;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    padding: 14px 10px;
    display: none;
    gap: 13px;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 46px;
  }

  &-box__items.active {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &-box__items li {
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
  }

  &-box__items li:hover {
    color: #f16d7f;
  }

  &-box__button {
    background-color: #f16d7f;
    border: none;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
  }

  &-box__button:hover {
    background-color: #e85c75;
  }
}

.browse-all {
  text-align: center;
  &__button {
    margin: 0 0 60px 0;
    cursor: pointer;
    color: #f16d7f;
    padding: 15px 39px;
    background-color: #fff;
    border: 2px solid #f16d7f;
  }
  &__button:hover {
    color: #fff;
    padding: 15px 39px;
    background-color: #f16d7f;
  }
}

.advantages {
  background-color: #222;
  padding: 104px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  &__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__heading {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fbfbfb;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fbfbfb;
  }
}

.email__sending {
  position: relative;
  background-image: url("/img/backgroundPhot.png");
  background-size: cover;
  height: 448px;
  display: flex;

  text-align: center;
  justify-content: space-around;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(244, 244, 244, 0.7);
    z-index: 0;
  }
}

.email__face {
  margin-top: 97px;
  z-index: 1;
  &__img {
    margin-bottom: 30px;
  }
}

.email__quote {
  width: 320px;
  font-weight: 400;

  font-size: 20px;
  &__italic {
    font-style: italic;
    font-size: 20px;
  }
}

.email__subscribe {
  z-index: 1;
  margin-top: 130px;
  height: 49px;
}
.email__text {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  &__light {
    font-weight: 400;
    font-size: 18px;
  }
}

.email__field {
  padding: 0px 0px 0px 20px;
  height: 49px;
  border-radius: 30px 0px 0px 30px;
  border: none;
  background-color: #e1e1e1;
  &__button {
    padding: 0px 7px 0px 8px;
    color: #fff;
    width: 100px;
    height: 49px;
    border-radius: 0px 30px 30px 0px;
    border: none;
    background-color: #f16d7f;
    cursor: pointer;
  }
}

.social__networks {
  height: 79px;
  background-color: #222224;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.social__text {
  margin-top: 30px;
}
.social__icon {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;
  &__block {
    width: 32px;
    height: 32px;
    align-content: center;
    background-color: #fff;
    cursor: pointer;
    &:hover svg path {
      fill: #f16d7f;
    }
  }
}

.background__block {
  background-color: #fff;
  width: 31px;
  height: 32px;
}


@media (max-wdth: 1024px) {
    .header__left{
        margin-left: 16px;
    }
    .header__right{
        margin-right: 16px;
    }
    .head__heading{
        margin-left: 16px;
    }
    .breadcrumb{
        margin-right: 16px;
    }
}
@media (max-width: 768px) {
  .header__left {
    margin-left: 32px;
  }
  .header__right {
    margin-right: 32px;
  }
  .promo__title {
    font-weight: 900;
    font-size: 44px;
    color: #222;
  }
  .sale {
    padding-bottom: 64px;
    gap: 20px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .promo__content {
    padding-left: 39px;
  }

  .promo__heading {
    font-weight: 700;
    font-size: 24px;
  }

  .product-box {
    padding-bottom: 32px;
    &__content {
      margin-top: 72px;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      margin-right: 8px;
      margin-left: 8px;
    }
  }

  .advantages__item {
    grid-template-columns: 1fr 1fr;
  }

  .email__sending {
    display: grid;
    height: 614px;
  }

  .email__subscribe {
    margin-top: 1px;
    height: auto;
  }
}

@media (max-width: 426px) {
  .header__link-site {
    display: none;
  }
  .promo {
    justify-content: center;
    &__content {
      height: 363px;
    }
    &__info {
      margin-top: none;
    }
    &__title {
      font-size: 38px;
    }
    &__heading {
      font-size: 20px;
    }
    &__img {
      display: none;
    }
  }

  .product__add {
    top: 210px;
    left: 131px;
  }

  .sale {
    grid-template-columns: repeat(1, 1fr);
    &__item_big {
    }
    &__item_big_width__img {
      height: 111px;
      width: auto;
      object-fit: cover;
      object-position: center;
    }
  }

  .product-box__content {
    grid-template-columns: 1fr;
  }
  .browse-all__button {
    margin-bottom: 85px;
  }
  .advantages {
    &__item {
      padding: 0px 18px 0 18px;
    }
    &__heading {
      font-size: 19px;
    }
    &__text {
      font-size: 13px;
    }
  }

  .email__quote {
    font-size: 18px;
    &__quote__italic {
      font-size: 18px;
    }
    &__text {
      font-size: 24px;
    }
    &__text__light {
      font-size: 14px;
    }
  }

  .social__networks {
    flex-direction: column-reverse;
    height: 143px;
  }
  .social__text {
    margin-top: 0px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 9px;
  }
  .social__icon {
    margin-top: 43px;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .product__add {
    top: 150px;
    left: 80px;
  }
}
