* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  position: relative;
  overflow: hidden;
}

.header {
  min-height: 75px;
  background: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  gap: 41px;
}

.header__right {
  gap: 33px;
}
.head{
    min-height: 148px;
    background: #F8F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.head__heading{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.breadcrumb{
    display: flex;
    gap: 8px;
}
.breadcrumb__link{
    text-decoration: none;
}
.slider{
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    
}
.slider__arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider__arrow_right{
    right: 0;
}
.content{

    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    max-width: 1141px; 
    margin: 0 auto; 
    padding: 0 20px; 
    text-align: center;
    max-width: 1141px;
    
}
.content h3{
    font-weight: 300;
    font-size: 14px;
    margin: 65px 0px 12px 0px ;
    color: #f16d7f;;
}
.content__line{
    text-align: center;
    width: 63px;
    height: 4px;
    background-color: #ef5b70;;
    margin-bottom: 12px;
}
.content__heading{
    font-weight: 300;
    font-size: 18px;
    color: #4d4d4d;
    margin-bottom:49px ;
}
.content__text{
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #5e5e5e;
    margin-bottom: 32px;
}
.content__price{
    font-weight: 300;
    font-size: 24px;
    color: #ef5b70;
    margin-bottom: 65px;
}
.content__line-big{
    max-width: 642px;
    height: 1px;
    background-color: #eaeaea;
    margin-bottom: 65px;
}

.sort{
    display: flex;
    justify-content: center;
    gap: 23px;
    margin-bottom: 49px;
    font-weight: 400;
    font-size: 14px;
    color: #6f6e6e;
   
}
.sort__summary{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sort__details img{
    text-align: center;
    padding-left: 9px;
}
.button__basket{
    
display: flex;
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
    color: #f26376;
    cursor: pointer;
    border-color: #ff6a6a;
        justify-content: center;
    align-items: center;
    outline: none;
    height: 48px;

    
}
.button__basket__img{

    margin: 15px 23px 15px 23px;
}
.content span{
    margin-right: 57px;
}




.product-box {
  padding-bottom: 96px;
}

.product-box__heading {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.product-box__text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9f9f9f;
}

.product-box__content {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

.product {
  position: relative;
}

.product:hover .product__img {
  filter: brightness(0.5);
}

.product:hover .product__add {
  display: flex;
}

.product__img {
  width: 100%;
}
.product__content__girl {
  background-color: #f8f8f8;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #ffffff;
}

.product__add:hover {
  box-shadow: 0 0 5px #fff;
}

.product__content {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product__heading {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.product__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.product__price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}



.email__sending {
  position: relative;
  background-image: url("/img/backgroundPhot.png");
  background-size: cover;
  height: 448px;
  display: flex;

  text-align: center;
  justify-content: space-around;
  width: 100%;
}
.email__sending::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(244, 244, 244, 0.7);
  z-index: 0;
}
.email__face {
  margin-top: 97px;
  z-index: 1;
}
.email__face__img {
  margin-bottom: 30px;
}
.email__quote {
  width: 320px;
  font-weight: 400;

  font-size: 20px;
}
.email__quote__italic {
  font-style: italic;
  font-size: 20px;
}
.email__subscribe {
  z-index: 1;
  margin-top: 130px;
  height: 49px;
}
.email__text {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
}
.email__text__light {
  font-weight: 400;
  font-size: 18px;
}
.email__field {
  padding: 0px 0px 0px 20px;
  height: 49px;
  border-radius: 30px 0px 0px 30px;
  border: none;
  background-color: #e1e1e1;
}
.email__field__button {
  padding: 0px 7px 0px 8px;
  color: #fff;
  width: 100px;
  height: 49px;
  border-radius: 0px 30px 30px 0px;
  border: none;
  background-color: #f16d7f;
  cursor: pointer;
}
.social__networks {
  height: 79px;
  background-color: #222224;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.social__text {
  margin-top: 30px;
}
.social__icon {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;
}
.social__icon img {
}
.background__block {
  background-color: #fff;
  width: 31px;
  height: 32px;
}
.social__icon__block {
  width: 32px;
  height: 32px;
  align-content: center;
  background-color: #fff;
  cursor: pointer;
}
.social__icon__block:hover {
}








@media (max-width: 768px) {
  .header__left {
    margin-left: 32px;
  }
  .header__right {
    margin-right: 32px;
  }
  .product-box__content {
    margin-top: 72px;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-right: 8px;
    margin-left: 8px;
  }
  .product-box {
    padding-bottom: 32px;
  }
  .product__none{
    display: none;
  }
  .advantages__item {
    grid-template-columns: 1fr 1fr;
  }

  .email__sending {
    display: grid;
    height: 614px;
  }
  .email__face {
  }
  .email__quote {
  }
  .email__quote__italic {
  }
  .email__subscribe {
    margin-top: 1px;
    height: auto;
  }
  .email__text {
  }
  .email__text__light {
  }
  .email__field {
  }
  .email__field__button {
  }
}





@media (max-width: 426px) {
  .header__link-site {
    display: none;
  }
  .product-box__content {
    grid-template-columns: 1fr;
  }

  .email__quote {
    font-size: 18px;
  }
  .email__quote__italic {
    font-size: 18px;
  }
  .email__text {
    font-size: 24px;
  }
  .email__text__light {
    font-size: 14px;
  }
  .social__networks {
    flex-direction: column-reverse;
    height: 143px;
  }
  .social__text {
    margin-top: 0px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 9px;
  }
  .social__icon {
    margin-top: 43px;
    justify-content: center;
  }
}



@media (max-width: 320px) {
  .product__add {
    top: 150px;
    left: 80px;
  }
}